<h1>Feed</h1>

<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>

<ul>
  <% posts_collection.each do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
  <% end %>
</ul>
