<h1>Feed:</h1>

<div style="margin-top: 50px;"></div>

<ul>
  <% posts_collection.each do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
  <% end %>
</ul>

<div style="margin-top: 50px;"></div>

<%= link_to 'Add New Post', new_post_path, class: 'btn btn-primary' %>
